body {
    text-align: left;
    margin: 10px;
    background-color: blanchedalmond;
    color: #504141;
}




h1 {
    text-align: center;
    margin: auto;
    font-size: 64px;

}

li {
    margin:auto;
    padding: 10px;
    border: 10px;
    font-size: 32px;
}